.header-container {
  height: 12vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f1f5f9;
  background-size: cover;
  cursor: pointer;
}

.link-item {
  text-decoration: none;
  cursor: pointer;
}

.logo-image {
  height: 50px;
  width: 150px;
}
